In [3]:
## Creating a DataFrame

In [6]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
import os
from pathlib import Path

# 1. DATAFRAME CREATION METHODS
print("===== DATAFRAME CREATION =====")

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
# Method 1: From a dictionary
print("\nCreation from dictionary:")
data_dict = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [75000, 82000, 67000, 95000]
}
df1 = pd.DataFrame(data_dict)
print(df1)

In [ ]:
# Method 2: From lists
print("\nCreation from lists:")
data_lists = [
    ['John', 28, 'New York', 75000],
    ['Anna', 34, 'Paris', 82000],
    ['Peter', 29, 'Berlin', 67000],
    ['Linda', 42, 'London', 95000]
]
df2 = pd.DataFrame(data_lists, columns=['Name', 'Age', 'City', 'Salary'])
print(df2)

In [ ]:
# Method 3: From NumPy array
print("\nCreation from NumPy array:")
data_array = np.array([
    ['John', 28, 'New York', 75000],
    ['Anna', 34, 'Paris', 82000],
    ['Peter', 29, 'Berlin', 67000],
    ['Linda', 42, 'London', 95000]
])
df3 = pd.DataFrame(data_array, columns=['Name', 'Age', 'City', 'Salary'])
print(df3)

In [ ]:
# Method 4: From Series
print("\nCreation from Series:")
name = pd.Series(['John', 'Anna', 'Peter', 'Linda'])
age = pd.Series([28, 34, 29, 42])
city = pd.Series(['New York', 'Paris', 'Berlin', 'London'])
salary = pd.Series([75000, 82000, 67000, 95000])
df4 = pd.DataFrame({'Name': name, 'Age': age, 'City': city, 'Salary': salary})
print(df4)

In [ ]:
print(os.listdir('.'))
data_dir = Path('nyc_weather.csv')

In [ ]:
# Method 5: From CSV (commented out as it requires a file)
df5 = pd.read_csv(data_dir)

In [ ]:
df5

In [5]:
# Method 6: From Excel (commented out as it requires a file)
df6 = pd.read_excel(Path('nyc_weather.xlsx'))
df6

NameError: name 'Path' is not defined

In [ ]:
# Method 7: From a database (commented out as it requires a connection)
# import sqlite3
# conn = sqlite3.connect('database.db')
# df7 = pd.read_sql_query("SELECT * FROM employees", conn)

In [ ]:
# Method 8: Empty DataFrame with defined structure
print("\nCreation of empty DataFrame with structure:")
df8 = pd.DataFrame(columns=['Name', 'Age', 'City', 'Salary'])
print(df8)