In [11]:
## Creating a DataFrame

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from pathlib import Path

# 1. DATAFRAME CREATION METHODS
print("===== DATAFRAME CREATION =====")

===== DATAFRAME CREATION =====

In [77]:
# Method 1: From a dictionary
print("\nCreation from dictionary:")
data_dict = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [75000, 82000, 67000, 95000]
}
df1 = pd.DataFrame(data_dict)
print(df1)

Creation from dictionary:
    Name  Age      City  Salary
0   John   28  New York   75000
1   Anna   34     Paris   82000
2  Peter   29    Berlin   67000
3  Linda   42    London   95000

In [79]:
# Method 2: From lists
print("\nCreation from lists:")
data_lists = [
    ['John', 28, 'New York', 75000],
    ['Anna', 34, 'Paris', 82000],
    ['Peter', 29, 'Berlin', 67000],
    ['Linda', 42, 'London', 95000]
]
df2 = pd.DataFrame(data_lists, columns=['Name', 'Age', 'City', 'Salary'])
print(df2)

Creation from lists:
    Name  Age      City  Salary
0   John   28  New York   75000
1   Anna   34     Paris   82000
2  Peter   29    Berlin   67000
3  Linda   42    London   95000

In [81]:
# Method 3: From NumPy array
print("\nCreation from NumPy array:")
data_array = np.array([
    ['John', 28, 'New York', 75000],
    ['Anna', 34, 'Paris', 82000],
    ['Peter', 29, 'Berlin', 67000],
    ['Linda', 42, 'London', 95000]
])
df3 = pd.DataFrame(data_array, columns=['Name', 'Age', 'City', 'Salary'])
print(df3)

Creation from NumPy array:
    Name Age      City Salary
0   John  28  New York  75000
1   Anna  34     Paris  82000
2  Peter  29    Berlin  67000
3  Linda  42    London  95000

In [83]:
# Method 4: From Series
print("\nCreation from Series:")
name = pd.Series(['John', 'Anna', 'Peter', 'Linda'])
age = pd.Series([28, 34, 29, 42])
city = pd.Series(['New York', 'Paris', 'Berlin', 'London'])
salary = pd.Series([75000, 82000, 67000, 95000])
df4 = pd.DataFrame({'Name': name, 'Age': age, 'City': city, 'Salary': salary})
print(df4)

Creation from Series:
    Name  Age      City  Salary
0   John   28  New York   75000
1   Anna   34     Paris   82000
2  Peter   29    Berlin   67000
3  Linda   42    London   95000

In [93]:
print(os.listdir('.'))
data_dir = Path('nyc_weather.csv')

['.ipynb_checkpoints', 'DataFrame_Creation.ipynb', 'nyc_weather.csv']

In [97]:
# Method 5: From CSV (commented out as it requires a file)
df5 = pd.read_csv(data_dir)

In [99]:
df5

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,37,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [101]:
# Method 6: From Excel (commented out as it requires a file)
# df6 = pd.read_excel('data.xlsx')

In [103]:
# Method 7: From a database (commented out as it requires a connection)
# import sqlite3
# conn = sqlite3.connect('database.db')
# df7 = pd.read_sql_query("SELECT * FROM employees", conn)

In [105]:
# Method 8: Empty DataFrame with defined structure
print("\nCreation of empty DataFrame with structure:")
df8 = pd.DataFrame(columns=['Name', 'Age', 'City', 'Salary'])
print(df8)

Creation of empty DataFrame with structure:
Empty DataFrame
Columns: [Name, Age, City, Salary]
Index: []